.designbody{
  background-color: #00C9E5;
  /* background-image:url("../assets/images/woodimage.jpg") ; */

    /* margin: px; */
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.carddesign{
background-color:white; 
 border-color: grey;
  color: rgb(6, 6, 6);
}

